<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.alin.espeedboat">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ESpeedBoat">
        <activity android:name=".TestPdfActivity"></activity>
        <activity android:name=".MyUnpaidDetailTransactionActivity" />
        <activity android:name=".MetodePembayaranActivity" />
        <activity android:name=".MyUnpaidTransactionActivity" />
        <activity android:name=".MyPointHistoryActivity" />
        <activity android:name=".MyPointRewardActivity" />
        <activity android:name=".InputIdentitasPemesanActivity" />
        <activity android:name=".GantiPasswordActivity" />
        <activity android:name=".LupaPasswordVerifikasiEmailActivity" />
        <activity android:name=".PemesananJadwalSpeedboatActivity" />
        <activity android:name=".MyProfile.EditPinActivity" />
        <activity android:name=".MyProfile.AddPinActivity" />
        <activity android:name=".MyProfile.EditPasswordActivity" />
        <activity android:name=".MyProfile.EditProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MyProfile.MyProfileActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".MyPointActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>